<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morningstar.common.dao.mapper.PermissionMapper">
    <select id="selectTagByUserId" resultType="java.lang.String">
        select distinct p.tag
        from user_role ur
                 left join role r on r.id = ur.role_id
                 left join role_permission rp on r.id = rp.role_id
                 left join permission p on p.id = rp.permission_id
        where ur.user_id = #{userId}
          and r.status
          and p.status;
    </select>
    <select id="selectByTag" resultType="com.morningstar.common.pojo.po.Permission">
        select *
        from permission
        where tag = #{tag}
    </select>
</mapper>