<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.morningstar.common.dao.mapper.RoleMapper">
    <select id="selectByTag" resultType="com.morningstar.common.pojo.po.Role">
        select *
        from role
        where tag = #{tag}
    </select>
    <select id="selectTagByUserId" resultType="java.lang.String">
        select r.tag
        from user_role ur
                 left join role r on r.id = ur.role_id
        where user_id = #{userId}
    </select>
</mapper>
