@font-face {
  font-family: "Lora";
  src: url("../font/Lora-MediumItalic.ttf");
}

.font-family-code {
  font-family: monospace, sans-serif;
}

.font-family-lora {
  font-family: Lora, serif;
}

.font-family-song {
  font-family: 'Songti SC', 'SimSun', serif;
}

.font-family-kai {
  font-family: 'Kaiti SC', 'SimKai', serif;
}